{% extends 'base.html' %}



{% block title %}
	About
{% endblock %}


{% block content_title %}
	About
{% endblock %}

{% block content %}
	<div class="content">
		<p>This site was created to demonstrate the basic features of Flask</p>
		<p>Этот сайт создан для демонстрации базовых возможностей Flask </p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum neque in quaerat quae, a voluptatum accusamus, eos pariatur non sequi iste facere obcaecati eveniet dolore voluptate omnis esse velit soluta at, tempora est. Natus quia dolorem consectetur laudantium aperiam ullam soluta accusamus! Cumque ducimus tempora nostrum eum voluptate optio ab aspernatur nihil, explicabo nesciunt earum ratione accusantium quis iste magni amet iusto eos nam, laudantium repellat consectetur neque necessitatibus alias porro. Ullam tempora tenetur amet repellendus perspiciatis! Facilis voluptatum, laborum, at vero sint quo. Sapiente officiis, repudiandae velit accusamus quod dolorem recusandae in itaque quasi consequuntur perferendis adipisci amet saepe.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde ipsum neque fugit sed eos temporibus voluptates, atque odio. Earum minima possimus est esse placeat! Officiis perspiciatis quos, culpa officia atque cumque fuga dolores deserunt placeat. Aliquam illum quidem ab doloremque.</p>
	</div>
{% endblock %}