{% extends 'base.html' %}
{% block title %}Index{% endblock %}

{% block content_title %}
	Index page
{% endblock %}

{% block content %}
	<p>Главная страница этого блога, созданного для примера и чтобы закрепить знания в базах данных, оформления форм, создания url-ов, миграции, и т.д</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro nulla totam laborum ex, laboriosam repudiandae autem molestiae, aut ab qui nostrum officiis sint numquam sapiente. Cumque neque facere doloribus suscipit mollitia dolores, quasi molestiae dicta optio id non impedit ducimus debitis veniam eius natus nihil qui reprehenderit perspiciatis voluptatum dolorum.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, suscipit quaerat explicabo dolore quis commodi, autem minus ratione tempora pariatur totam nesciunt veniam fugit ullam repellat maiores, consectetur dolorum nulla ad porro cupiditate debitis voluptatem id modi assumenda? Consequatur quaerat, quidem dolor recusandae, temporibus ab asperiores, maiores itaque commodi vero animi officia blanditiis esse eos alias tempora aut culpa. Ratione, ullam! Adipisci expedita, tempore enim quae aspernatur quaerat iste in quibusdam? Sapiente excepturi aliquid maiores.</p>
{% endblock %}