{% extends 'base.html' %}


{% block title %}
	Edition
{% endblock %}



{% block content_title %}
	Edition
{% endblock %}


{% block content %}
	
<div class="col-md-6">
	<form action="{{ url_for('posts.edit_post', slug = post.slug) }}" method = 'Post'>
		
		{% for fi in form %}
			
			<div class="form-group">
				{{ fi.label(class ='control-label') }}
				{{ fi(class='form-control') }}
			</div>

		{% endfor %}
		<button type="submit" class="btn btn-success">Finish edit</button>
	</form>
</div>

{% endblock %}